# üß©üß†üíªüí° Challenge Telecom X: an√°lise de evas√£o de clientes

# üìå Extrac√£o

In [2]:
# Importa a biblioteca pandas para manipula√ß√£o de dados
import pandas as pd

In [3]:
# Define a URL onde est√° localizado o arquivo JSON com os dados da TelecomX
url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science/refs/heads/main/TelecomX_Data.json'

# L√™ o arquivo JSON a partir da URL e armazena o conte√∫do em um DataFrame
df_dados = pd.read_json(url)

# Exibe as primeiras linhas do DataFrame (com estrutura aninhada)
df_dados.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [4]:
# Normaliza a coluna 'customer', transformando os dados aninhados em um DataFrame plano
df_customer = pd.json_normalize(df_dados['customer'])

# Normaliza a coluna 'phone', transformando os dados aninhados em um DataFrame plano
df_phone = pd.json_normalize(df_dados['phone'])

# Normaliza a coluna 'internet', transformando os dados aninhados em um DataFrame plano
df_internet = pd.json_normalize(df_dados['internet'])

# Normaliza a coluna 'account', transformando os dados aninhados em um DataFrame plano
df_account = pd.json_normalize(df_dados['account'])

# Concatena os DataFrames normalizados com as colunas 'customerID' e 'Churn' em um √∫nico DataFrame
df_dados_normalizados = pd.concat([df_dados['customerID'],df_dados['Churn'],df_customer, df_phone, df_internet, df_account], axis=1)

# Exibe as primeiras linhas do DataFrame com todos os dados normalizados
df_dados_normalizados.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

#üîß Transforma√ß√£o

##Conhecendo o Dataset

**Dicion√°rio de dados**

**customerID**: n√∫mero de identifica√ß√£o √∫nico de cada cliente

**Churn**: se o cliente deixou ou n√£o a empresa

**gender**: g√™nero (masculino e feminino)

**SeniorCitizen**: informa√ß√£o sobre um cliente ter ou n√£o idade igual ou maior que 65 anos

**Partner**: se o cliente possui ou n√£o um parceiro ou parceira

**Dependents**: se o cliente possui ou n√£o dependentes

**tenure**: meses de contrato do cliente

**PhoneService**: assinatura de servi√ßo telef√¥nico

**MultipleLines**: assisnatura de mais de uma linha de telefone

**InternetService**: assinatura de um provedor internet

**OnlineSecurity**: assinatura adicional de seguran√ßa online

**OnlineBackup**: assinatura adicional de backup online

**DeviceProtection**: assinatura adicional de prote√ß√£o no dispositivo

**TechSupport**: assinatura adicional de suporte t√©cnico, menos tempo de espera

**StreamingTV**: assinatura de TV a cabo

**StreamingMovies**: assinatura de streaming de filmes

**Contract**: tipo de contrato

**PaperlessBilling**: se o cliente prefere receber online a fatura

**PaymentMethod**: forma de pagamento

**Charges.Monthly**: total de todos os servi√ßos do cliente por m√™s

**Charges.Total**: total gasto pelo cliente

In [5]:
# Exibe informa√ß√µes gerais do DataFrame, como colunas, tipos de dados e valores n√£o nulos
df_dados_normalizados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [6]:
# Mostra o n√∫mero de linhas e colunas do DataFrame
df_dados_normalizados.shape

(7267, 21)

##Verificando Inconsist√™ncias nos Dados

In [8]:
# Para cada coluna, imprime o n√∫mero de valores distintos e a lista de valores √∫nicos
for coluna in df_dados_normalizados.columns:
  print(f'{coluna}: {df_dados_normalizados[coluna].nunique()} - {df_dados_normalizados[coluna].unique()}')

customerID: 7267 - ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn: 3 - ['No' 'Yes' '']
gender: 2 - ['Female' 'Male']
SeniorCitizen: 2 - [0 1]
Partner: 2 - ['Yes' 'No']
Dependents: 2 - ['Yes' 'No']
tenure: 73 - [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
PhoneService: 2 - ['Yes' 'No']
MultipleLines: 3 - ['No' 'Yes' 'No phone service']
InternetService: 3 - ['DSL' 'Fiber optic' 'No']
OnlineSecurity: 3 - ['No' 'Yes' 'No internet service']
OnlineBackup: 3 - ['Yes' 'No' 'No internet service']
DeviceProtection: 3 - ['No' 'Yes' 'No internet service']
TechSupport: 3 - ['Yes' 'No' 'No internet service']
StreamingTV: 3 - ['Yes' 'No' 'No internet service']
StreamingMovies: 3 - ['No' 'Yes' 'No internet service']
Contract: 3 - ['One year' 'Month-to-month' 'Two year']
PaperlessBilling: 2 - ['Yes' 'No']
PaymentMethod: 4 - ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges.Monthly: 1585 - [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges.Total: 6531 - ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [9]:
# Verifica a quantidade de valores nulos por coluna
valores_nulos = df_dados_normalizados.isnull().sum()
print('\n Quantidade de valores nulos por coluna')
print(valores_nulos[valores_nulos > 0])

 Quantidade de valores nulos por coluna
Series([], dtype: int64)

In [10]:
# Conta quantas linhas duplicadas existem no DataFrame
registros_duplicados = df_dados_normalizados.duplicated().sum()
print(f'Quantidade de registros duplicados: {registros_duplicados}')

Quantidade de registros duplicados: 0

In [11]:
# Conta quantos valores em branco ou apenas com espa√ßos em cada coluna
valores_brancos_vazios = df_dados_normalizados.apply(lambda x: x.astype(str).str.strip() == "").sum()
print('\n Quantidade de valores brancos/vazios por coluna')
print(valores_brancos_vazios[valores_brancos_vazios > 0])

 Quantidade de valores brancos/vazios por coluna
Churn            224
Charges.Total     11
dtype: int64

In [12]:
# Converte a coluna Charges.Total para valores num√©ricos, substituindo erros por NaN
df_dados_normalizados['Charges.Total'] = pd.to_numeric(df_dados_normalizados['Charges.Total'], errors='coerce')

In [13]:
# Exibe as informa√ß√µes do DataFrame, com a coluna convertida
df_dados_normalizados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

##Tratando as Inconsist√™ncias

In [14]:
# Remove registros onde a coluna 'Churn' est√° vazia (string vazia)
registros_a_remover = df_dados_normalizados.query('Churn == ""').index
df_dados_normalizados.drop(registros_a_remover, axis = 0, inplace = True)

# Verifica se ainda restam registros com 'Churn' vazio
df_dados_normalizados.query('Churn == ""').index

Index([], dtype='int64')

In [15]:
# Substitui valores que indicam aus√™ncia de servi√ßo por "No" (padroniza√ß√£o das respostas)
df_dados_normalizados.MultipleLines = df_dados_normalizados.MultipleLines.replace('No phone service', 'No')
df_dados_normalizados.OnlineSecurity = df_dados_normalizados.OnlineSecurity.replace('No internet service', 'No')
df_dados_normalizados.OnlineBackup = df_dados_normalizados.OnlineBackup.replace('No internet service', 'No')
df_dados_normalizados.DeviceProtection = df_dados_normalizados.DeviceProtection.replace('No internet service', 'No')
df_dados_normalizados.TechSupport = df_dados_normalizados.TechSupport.replace('No internet service', 'No')
df_dados_normalizados.StreamingTV = df_dados_normalizados.StreamingTV.replace('No internet service', 'No')
df_dados_normalizados.StreamingMovies = df_dados_normalizados.StreamingMovies.replace('No internet service', 'No')


#üìä Carga e an√°lise

#üìÑRelatorio Final